@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: Poppins;
}

optgroup {
  font-family: Poppins !important;
}

.fontPop {
  font-family: Poppins !important;
}

html {
  scroll-behavior: smooth !important;
}

a {
  text-decoration: none !important;
}

body {
  min-height: 2000px;
}

.logo img {
  transition: all 0.2s;
  cursor: pointer;
  filter: drop-shadow(0 0 1rem #009bde00);
}

.logo img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 1rem #009bde59);
}

.header-nav div {
  padding-right: 30px !important;
  transition: all 0.2s;
}

.header-nav a {
  cursor: pointer;
  color: #707070;
  transition: all 0.2s;
}

.header-nav a:hover {
  color: #009ade;
}

.header-nav a:hover ~ .header-nav-anim-elm {
  opacity: 1;
  width: 100%;
}

.header-nav-anim-elm {
  height: 2px;
  width: 0px;
  background-color: #009ade;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.2s;
}

/* ! WELCOME !*/

.welcomeLeft {
  z-index: 5;
}

.welcomeRight {
  z-index: 1;
}

.welcomeHeader {
  color: black;
  font-family: Poppins;
  font-size: calc(1.5vw + 2rem);
  font-weight: 700;
}

@media screen and (min-width: 1920px) {
  .welcomeHeader {
    font-size: 70px !important;
  }
  .selectedMap-cont .selected-map {
    font-size: 43px !important;
  }
}

.welcomeDesc {
  color: #707070;
  font-size: 18px;
}

.welcomeButton a {
  margin-right: 20px;
  padding: 15px 35px 15px 35px;
  border-radius: 200px;
  color: white !important;
  min-width: 120px;
  text-align: center !important;
  transition: all 0.4s;
  font-size: calc(0.5vw + 0.7rem);
}

.welcomeButton .support-btn {
  background-color: #009ade;
  box-shadow: 0px 10px 20px #009bde83;
}

.welcomeButton .signup-btn {
  background-color: #f14190;
  box-shadow: 0px 10px 20px #f1419077;
}

.welcomeButton a:hover {
  transform: translateY(-10px);
}

.margin-up-100 {
  margin-top: 25vh !important;
}

.welcomeHintHeader span {
  border-radius: 300px;
  font-size: calc(0.5vw + 1.5rem);
  background-color: #009ade;
  color: white;
  font-weight: 500;
  padding: 5px 15px 5px 15px !important;
}

.welcomeHint {
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.land {
  fill: #cccccc;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
  outline: none !important;
}

.map {
  margin-top: 100px;
}

.mapsvg {
  min-width: 800px;
  max-width: 800px;
  min-height: 400px;
}

.land {
  cursor: pointer;
  fill: #009ade;
  transition: all 0.15s;
}

.land.map-selected {
  fill: #f14190;
}

.land:active {
  fill: #ff0073 !important;
}

.land:hover {
  fill: #f14190;
}

/* ! MOBIL MAP SECT ! */

.mobil-map-selector {
  background-color: #f14190;
  border-radius: 20px;
}

/* ! SELECTED MAP SECT. ! */

.selectedMap-cont .selected-map {
  font-size: calc(0.5vw + 1.5rem);
  font-weight: 600;
}

.selectedMap-cont .selected-map-desc {
  font-size: 17px;
}

.selected-map span {
  color: #ff0073;
  border-bottom: 1px solid #ff0073;
  padding-bottom: 0px;
}

.alphabet-elm {
  color: #a5a5a5;
  cursor: pointer;
  transition: all 0.2s;
  font-size: calc(0.5vw + 0.8rem);
  font-weight: 600;
}
.alphabet-elm:not(.selected-alphabet):hover {
  color: #707070;
}

.alphabet-elm.selected-alphabet {
  color: black;
  transform: scale(1.5);
}

/*!  PRINTER SECTION !*/

.printerSectionHeader {
  color: black;
  font-weight: 600;
  font-size: calc(1.5vw + 1.5rem);
}

.printerSection ul {
  color: #747474;
}

/* ! COLLAPSE AREA ! */

.questionSectionHeader {
  color: black;
  font-size: 2.5rem;
  font-weight: 600;
}

.collapse-area .collapsable-area {
  margin-top: 20px !important;
}

.collapse-area button {
  outline: none !important;
  border: none !important;
  background-color: transparent;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
}

.collapse-area button[aria-expanded='true'] .plus {
  background-color: #f14190 !important;
  transform: rotate(90deg);
}

.collapse-area button[aria-expanded='false'] .plus {
  background-color: #0039b2 !important;
}

.collapse-area .plus {
  text-align: center !important;
  color: white !important;
  font-size: 1.2rem !important;
  margin-right: 10px;
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  max-height: 25px;
  padding: 0px !important;
  border-radius: 100px;
  transition: all 0.2s;
}

/* !  FOOTER ! */

.footer {
  background-color: black;
  color: white;
}

.bold {
  font-weight: 500;
}

.f-light {
  font-size: smaller;
}

.f-light.text-justify {
  text-align-last: center;
}

.footer a {
  text-decoration: none !important;
  color: white !important;
}
