@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: Poppins;
}

a {
  text-decoration: none !important;
}

.logo img {
  transition: all 0.2s;
  cursor: pointer;
  filter: drop-shadow(0 0 1rem #009bde00);
}

.logo img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 1rem #009bde59);
}

.header-nav div {
  padding-right: 30px !important;
  transition: all 0.2s;
}

.header-nav a {
  cursor: pointer;
  color: #707070;
  transition: all 0.2s;
}

.header-nav a:hover {
  color: #009ade;
}

.header-nav a:hover ~ .header-nav-anim-elm {
  opacity: 1;
  width: 100%;
}

.header-nav-anim-elm {
  height: 2px;
  width: 0px;
  background-color: #009ade;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.2s;
}

/* ! WELCOME !*/

.welcomeLeft {
  z-index: 5;
}

.welcomeRight {
  z-index: 1;
}

.welcomeHeader {
  color: black;
  font-family: Poppins;
  font-size: calc(1.5vw + 2rem);
  font-weight: 700;
}

@media screen and (min-width: 1920px) {
  .welcomeHeader {
    font-size: 70px !important;
  }
}

.welcomeDesc {
  color: #707070;
  font-size: 18px;
}

.welcomeButton a {
  margin-right: 20px;
  padding: 15px 35px 15px 35px;
  border-radius: 200px;
  color: white !important;
  min-width: 120px;
  text-align: center !important;
  transition: all 0.4s;
}

.welcomeButton .support-btn {
  background-color: #009ade;
  box-shadow: 0px 10px 20px #009bde83;
}

.welcomeButton .signup-btn {
  background-color: #f14190;
  box-shadow: 0px 10px 20px #f1419077;
}

.welcomeButton a:hover {
  transform: translateY(-10px);
}

.welcomeHint {
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.land {
  fill: #cccccc;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
}

.map {
  margin-top: 100px;
}

.mapsvg {
  min-width: 800px;
  max-width: 800px;
  min-height: 400px;
}

.land {
  cursor: pointer;
  fill: #009ade;
  transition: all 0.15s;
}

.land.map-selected {
  fill: #f14190;
}

.land:active {
  fill: white !important;
}

.land:hover {
  fill: #f14190;
}
